<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contacto con AluMaster - Envíanos tus consultas o visítanos.">
    <title>AluMaster - Contacto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Enlace a archivo de estilos -->
</head>
<body>

    <!-- Header con logo y menú de navegación -->
    <header>
        <div class="logo">
            <img src="static/logo.png" alt="Logo de AluMaster">
            <h1>AluMaster</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/quienes_somos">Quienes Somos</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/noticias">Noticias</a></li>
            <li><a href="/contacto">Contactanos</a></li>
        </ul>
        </nav>
    </header>

    <!-- Sección de contacto -->
    <section id="contacto" class="contact">
        <h2>Contáctanos</h2>
        <p>Si tienes alguna pregunta o necesitas más información sobre nuestros servicios, no dudes en contactarnos. Completa el formulario a continuación o utiliza los siguientes medios de contacto.</p>

        <!-- Formulario de contacto -->
        <form action="/proceso" method="post">
          <label for="nombre">Nombre:</label>
          <input type="text"name="nombre">
          
          <label for="email">Correo electrónico:</label>
          <input type="email" name="email">

          <label for="mensaje">Mensaje:</label>
          <textarea name="mensaje" rows="4"></textarea>

          <button type="submit">Enviar</button>
      </form>

        <!-- Información de contacto -->
        <div class="contact-info">
            <h3>Nuestra Ubicación</h3>
            <p>Dirección: Calle Ejemplo, 123, La Paz, Bolivia</p>
            <p>Teléfono: +591 123 456789</p>
            <p>Email: contacto@alumaster.com</p>

            <!-- Mapa de ubicación -->
            <div class="map-container">
                <h3>Encuéntranos aquí:</h3>
                              
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d488144.74520749495!2d-68.1192933!3d-16.4896891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf282c6e7d89%3A0xa9b71adf51adcb51!2sLa%20Paz%2C%20Bolivia!5e0!3m2!1ses!2ses!4v1665221136276!5m2!1ses!2ses"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
               
            </div>
        </div>
    </section>

    <!-- Footer con información de derechos de autor -->
    <footer>
        <p>&copy; 2024 AluMaster. Todos los derechos reservados.</p>
        <p>Dirección: Calle Ejemplo, 123, La Paz - Bolivia | Teléfono: +591 123 456789</p>
        <div class="social-links">
          <a href="https://www.facebook.com/AluMaster" target="_blank"><img src="static/facebook-icon.png" alt="Facebook"></a>
          <a href="https://www.twitter.com/AluMaster" target="_blank"><img src="static/twitter-icon.png" alt="Twitter"></a>
          <a href="https://www.instagram.com/AluMaster" target="_blank"><img src="static/instagram-icon.png" alt="Instagram"></a>
        </div>
    </footer>

</body>
</html>
